{% extends 'index.html' %}

{% block by_date %}
    <div class="row">
        <form method="post" name="get_data" id="get_data">
            {% csrf_token %}

            <span class="inputs">
                    <label for="date">Enter date</label>
                    <input type="date" value="{{ date }}" name="date" id="date">
                </span>
            <span class="inputs">
                <label for="count">Change</label>
                <input type="text" name="count" id="count" class="inputs" value="{{ count }}">
                <select name="iso" id="iso">
                    {% for val in iso %}
                        <option value="{{ val }}"
                                {% if val == iso_code %} selected {% endif %} >
                            {{ val }}
                        </option>
                    {% endfor %}
                </select>
            </span>

            <span class="inputs">
                    <input type="submit" value="Convert to" id="get_values" class="btn btn-success">
                </span>

            {% if convert_value != '' %}
                <span id="convert_value" class="result">
                        {{ convert_value }} դրամ
                    </span>
            {% endif %}
        </form>
    </div>
    <div class="row" id="response">

    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#date").change(
                function changeDate(event) {
                    event.preventDefault();
                    {#alert('changeDate()');#}
                    $.ajax({
                        method: 'GET',
                        url: '/by_date/',
                        dataType: 'json',
                        data: {'date': $('#date').val()},
                        contentType: 'application/json; charset=utf-8',

                        success: function (rates) {
                            console.log(rates);

                            var response =
                                '<table class="table thead-dark">' +
                                    '<tr class="thead-dark">' +
                                    '<th scope="col">ISO</th>' +
                                    '<th scope="col">Amount</th>' +
                                    '<th scope="col">Rate</th>' +
                                    '<th scope="col">Difference</th>' +
                                    '</tr>';
                            for (var val in Object.values(rates)) {
                                response += '<tr>';
                                for (var item in Object.values(val)) {
                                    response += '<td>' + val + '</td>';
                                }
                                response += '</tr>';
                            }
                            response += '</table>';

                            document.getElementById('response').innerHTML = response;
                        },
                        errors: function (e) {
                            alert(e);
                        }
                    })
                })
        });
    </script>

{% endblock %}
