{% extends 'index.html' %}

{% block page_title %}
    By_date_by_iso
{% endblock %}

{% block by_date_by_iso %}
    <div class="row">
        <form method="post" name="get_data" id="get_data">
            {% csrf_token %}

            <span class="inputs">
                <label for="date">Enter date</label>
                <input type="date" value="{{ date }}" name="date" id="date" onchange="changeDate()">
            </span>
            <span class="inputs">
                <label for="count">Change</label>
                <input type="text" name="count" id="count" class="inputs" value="{{ count }}">
                <select name="iso" id="iso">
                    {% for val in iso %}
                        <option value="{{ val }}"
                                {% if val == iso_code %} selected {% endif %} >
                            {{ val }}
                        </option>
                    {% endfor %}
                </select>
            </span>

            <span class="inputs">
                <input type="submit" value="Convert to" id="get_values" class="btn btn-success" onclick="changeData()">
            </span>

            {% if convert_value != '' %}
                <span id="convert_value" class="result">
                    {{ convert_value }} դրամ
                </span>
            {% endif %}
        </form>
    </div>

    <div id="response">
    </div>
{% endblock %}
