{% extends 'index.html' %}


{% block page_title %}
    Calendar_graphic
{% endblock %}


{% block calendar_graphic %}

    <div class="row">
        <form method="post" name="draw_form" id="draw_form">
            {% csrf_token %}

            <span class="inputs">
                <label for="start_date">Start date</label>
                <input type="date" value="{{ start_date }}" name="start_date" id="start_date">
            </span>
            <span class="inputs">
                <label for="end_date">End date</label>
                <input type="date" value="{{ end_date }}" name="end_date" id="end_date">
            </span>

            <span class="inputs">
                <label for="iso">ISO</label>
                <select name="iso" id="iso">
                    {% for val in iso %}
                        <option value="{{ val }}"
                                {% if val == iso_code %} selected {% endif %} >
                            {{ val }}
                        </option>
                    {% endfor %}
                </select>
            </span>

            <span class="inputs">
                <span id="draw" class="btn btn-success" onclick="Draw()"> Draw </span>
            </span>

            {% if rates %}
                <div id="chart">
                    {{ rates }}
                </div>
            {% endif %}

            <!-- GOOGLE CHARTS -->


            <div id="curve_chart"></div>


        </form>
    </div>

    <script type="text/javascript">


    </script>
{% endblock %}